.story_list {
  margin: 15px;
  border: 1px solid #181111;
  padding: 13px;
  border-radius: 14px;
  .story_info {
    width: 600px;
    button {
      cursor: pointer;
    }
    display: flex;
    justify-content: center;
    margin: 9px;
    flex-direction: column;
    .author {
      margin: auto;
    }
    .time {
      margin: auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .story_list {
    margin: 10px;
    border: 1px solid #181111;
    padding: 9px;
    border-radius: 10px;
    .story_info {
      width: 200px;
    }
  }
}
